<!DOCTYPE html>
<html lang="en">
<head>

    <!--  Meta  -->
    <meta charset="UTF-8"/>
    <title>Luhn’s Algorithm</title>

    <!--  Styles  -->
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>

<div class="wrapper clearfix">
    <div class="space"></div>
    <div class="space"></div>

    <div class="project-title">Luhn’s Algorithm</div>

    <div class="right-panel active">
        <div class="panel-content" id="name-0">
            <div class="space"></div>
            <label for="inp">
                <span class=""><h4>Insert a number down here</h4></span>
                <input type="text" id="inp" class="inp" placeholder="number" value="">
                <span class="border"></span>
            </label>
        </div>
    </div>

    <div class="left-panel">
        <div class="space"></div>
        <div class="panel-content uppercase" id="left-content"></div>


    </div>
    <button class="button" id="button">Check</button>
</div>
<!-- Scripts -->
<script src="scripts/luhn.js"></script>
</body>
</html>